.navbar{
    /* border-bottom: 5px solid rgb(0, 94, 255); */
    box-shadow: 0 2px 7px rgb(219, 12, 12);
    
}








header{
     min-height: 100vh;
    background:  url(../images/back3.webp);
    background-position: center;
    background-size: cover;
}
     
   
   

.header-text{
     text-align: center;
     position: absolute;
     top: 50%; left: 25%;
     transform: translate(-50% , -50%);

}
#about h5{
     letter-spacing: 5px;
 }
 #about img{
     min-height: 100%;
 }
 